.p-toast {
    opacity: .9
}

.p-toast .p-toast-message {
    border-radius: 3px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
    margin: 0 0 1rem
}

.p-toast .p-toast-message .p-toast-message-content {
    border-width: 0;
    padding: 1rem
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-message-text {
    margin: 0 0 0 .5rem
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-message-icon {
    font-size: 2rem
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-summary {
    font-weight: 700
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-detail {
    margin: .5rem 0 0
}

.p-toast .p-toast-message .p-toast-icon-close {
    background: transparent;
    border-radius: 50%;
    height: 2rem;
    transition: background-color .2s, color .2s, box-shadow .2s;
    width: 2rem
}

.p-toast .p-toast-message .p-toast-icon-close:hover {
    background: hsla(0, 0%, 100%, .3)
}

.p-toast .p-toast-message .p-toast-icon-close:focus {
    box-shadow: 0 0 0 .1rem #fff;
    outline: 0 none;
    outline-offset: 0
}

.p-toast .p-toast-message.p-toast-message-info {
    background: rgba(0, 0, 0);
    border: solid #3b82f6;
    border-width: 0 0 0 6px;
    color: #3b82f6;
}

.p-toast .p-toast-message.p-toast-message-info .p-toast-icon-close,
.p-toast .p-toast-message.p-toast-message-info .p-toast-message-icon {
    color: #3b82f6
}

.p-toast .p-toast-message.p-toast-message-success {
    background: rgba(0, 0, 0);
    border: solid #1ea97c;
    border-width: 0 0 0 6px;
    color: #1ea97c;
}

.p-toast .p-toast-message.p-toast-message-success .p-toast-icon-close,
.p-toast .p-toast-message.p-toast-message-success .p-toast-message-icon {
    color: #1ea97c
}

.p-toast .p-toast-message.p-toast-message-warn {
    background: rgb(0, 0, 0);
    border: solid #cc8925;
    border-width: 0 0 0 6px;
    color: #cc8925;
}

.p-toast .p-toast-message.p-toast-message-warn .p-toast-icon-close,
.p-toast .p-toast-message.p-toast-message-warn .p-toast-message-icon {
    color: #cc8925
}

.p-toast .p-toast-message.p-toast-message-error {
    background: rgb(0, 0, 0);
    color: #ff5757;
    border: solid #ff5757;
    border-width: 0 0 0 6px;
}

.p-toast .p-toast-message.p-toast-message-error .p-toast-icon-close,
.p-toast .p-toast-message.p-toast-message-error .p-toast-message-icon {
    color: #ff5757
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-message-icon.p-icon {
    width: 2rem;
    height: 2rem;
}