@import url("https://fonts.googleapis.com/css2?family=TT+Hoves:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vampiro+One:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-tt-hoves: "TT Hoves";
  --font-vampiro-one: "Vampiro One";

  /* font sizes */
  --font-size-sm: 0.88rem;
  --font-size-45xl: 4rem;
  --font-size-lg: 1.13rem;

  /* Colors */
  --color-white: #fff;
  --gray-1: #333;
  --color-indianred: #e15252;
  --gray-2: #4f4f4f;
  --gray-6: #f2f2f2;

  /* Border radiuses */
  --br-42xl: 61px;
  --br-31xl: 50px;
  --br-23xl: 42px;
}
